@model SampleDotNet.Models.User

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<form asp-action="Create" asp-controller="Home">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>   
    <div class="form-group">
        <label asp-for="Nick" class="control-label"></label>
        <input asp-for="Nick" class="form-control" />
        <span asp-validation-for="Nick" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Garma" class="control-label"></label>
        <input asp-for="Garma" class="form-control" />
        <span asp-validation-for="Garma" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Email" class="control-label"></label>
        <input asp-for="Email" class="form-control" />
        <span asp-validation-for="Email" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Password" class="control-label"></label>
        <input asp-for="Password" class="form-control" />
        <span asp-validation-for="Password" class="text-danger"></span>
    </div>
    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
    </div>
</form>


<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
