@model SampleDotNet.Models.Post

@{
    ViewBag.Title = String.Format("Post in {0}", Model.Gommunity.GName);
}

<h1>Create a post in @Model.Gommunity.GName</h1>

<form asp-action="SavePost" asp-controller="Gommunity" enctype="multipart/form-data" >
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <input type="hidden" asp-for="GommunityId" value="@Model.Gommunity.Id" class="form-control" />
    <span asp-validation-for="GommunityId" class="text-danger"></span>
    <div class="form-group">
        <label asp-for="Title" class="control-label"></label>
        <input required asp-for="Title" class="form-control" />
        <span asp-validation-for="Title" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Description" class="control-label"></label>
        <textarea required asp-for="Description" class="form-control" rows="5"></textarea>
        <span asp-validation-for="Description" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="Image">Image</label>
        <input type="file" id="Image" name="Image" accept="image/png, image/jpeg" class="form-control" />
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Create</button>
    </div>
</form>
